.todo-item {
  display: flex;
  height: 40px;
  margin-bottom: 8px;
}

.todo-item__label,
.todo-item__btn {
  box-shadow: none;
  background: none;
  cursor: pointer;
}

.todo-item__label {
  flex: 1;
  margin-right: 8px;
  border: 0;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #c5cbd6;
}

.todo-item__label--active {
  text-decoration: line-through;
}

.todo-item__label--important {
  font-weight: 600;
  color: red;
}

.todo-item__btn {
  display: flex;
  flex-basis: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  line-height: 0;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5cbd6;
}

.todo-item__btn:last-child {
  margin-left: 4px;
}